# Base16 Night Owl

_gen_fzf_default_opts() {

local color00="#011627"
local color01="#0c2132"
local color02="#172c3d"
local color03="#223748"
local color04="#2c4152"
local color05="#aeb6c3"
local color06="#d6deeb"
local color07="#feffff"
local color08="#7fdbca"
local color09="#f78c6c"
local color0A="#c792ea"
local color0B="#ecc48d"
local color0C="#91b9ff"
local color0D="#82aaff"
local color0E="#c792ea"
local color0F="#d6deeb"

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
