# Base16 Github
# Scheme author: Defman21
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#f5f5f5'
local color02='#c8c8fa'
local color03='#969896'
local color04='#e8e8e8'
local color05='#333333'
local color06='#ffffff'
local color07='#ffffff'
local color08='#ed6a43'
local color09='#0086b3'
local color0A='#795da3'
local color0B='#183691'
local color0C='#183691'
local color0D='#795da3'
local color0E='#a71d5d'
local color0F='#000000'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"

FZF_DEFAULT_OPTS+=" --color=bg+:$color01"
FZF_DEFAULT_OPTS+=" --color=bg:$color00"

FZF_DEFAULT_OPTS+=" --color=fg+:$color0F"
FZF_DEFAULT_OPTS+=" --color=fg:$color05"

FZF_DEFAULT_OPTS+=" --color=hl+:$color0C"
FZF_DEFAULT_OPTS+=" --color=hl:$color0D"

FZF_DEFAULT_OPTS+=" --color=spinner:$color0C"
FZF_DEFAULT_OPTS+=" --color=header:$color0A"
FZF_DEFAULT_OPTS+=" --color=info:$color0D"
FZF_DEFAULT_OPTS+=" --color=pointer:$color0C"
FZF_DEFAULT_OPTS+=" --color=marker:$color0A"
FZF_DEFAULT_OPTS+=" --color=prompt:$color0D"

}

_gen_fzf_default_opts
